
<title>Ansible Oneliner Killer</title>
<link href="static/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<blockquote class="blockquote text-center">
    <h2>Ansible Oneliner Killer</h2>
</blockquote>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-5">
            <textarea name="inputdata" class="form-control" id="mainLeftInputDiv" rows="30" ></textarea>
        </div>
        <div class="col-sm-2 text-center">
            <input type="submit" name="download" value="Download">
            <input type="submit" name="submit_button" value="Do Something">
        </div>
        <div class="col-sm-5 ">
            <textarea class="form-control" id="mainRightDiv" rows="30" ></textarea>
        </div>
    </div>

</div>