
<title>Ansible Oneliner Killer</title>
<link href="static/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<blockquote class="blockquote text-center">
    <h2>Ansible Oneliner Killer</h2>
</blockquote>

<div class="container">
    <div class="row">
        <div class="col-sm">
            One of three columns
        </div>
        <div class="col-sm">
            One of three columns
        </div>
        <div class="col-sm">
            One of three columns
        </div>
    </div>
</div>